.checkout {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 80vh;
  width: 98vw;
  margin: 0 auto;
  background: #fff;
  box-shadow: 1px 3px 9px 0 #000;
  flex-direction: column;

  &__cta {
    position: absolute;
    left: 1em;
    top: 1em;
    color: #000;
    font-weight: bold;
  }

  &__ctas {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em;
  }
}

.checkout-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  img {
    width: 50px;
  }
}

.delivery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.58);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 20em;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  &__row {
    margin-bottom: 1em;
  }
  &__ctas {
    display: flex;
    justify-content: space-around;
  }
}