.button {
  border: 4px solid #000;
  padding: .5em;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #000000;
  &:hover {
    background: #000000;
    color: #fff;
  }
  &[disabled] {
    border-color: grey;
    background: grey!important;
    color: #fff !important;
    cursor: not-allowed;
  }
}