%contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero {
  @include aspect-ratio(16, 8);
  height: 100vh;
  overflow: hidden;
  &__contents {
    @extend %contents;
    z-index: 1;
  }
  &__banner {
    @extend %contents;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__header {
    padding: 5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  &__title {
    font-size: 4em;
  }
  &__cta {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
  }
}