.confirm {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 80vh;
  width: 98vw;
  background: #fff;
  box-shadow: 1px 3px 9px 0 #000;
  flex-direction: column;
  z-index: 1;
  top: 0;
}

.checkout-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.thankyou {
  position: absolute;
  z-index: 2;
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}