@import url('https://fonts.googleapis.com/css?family=Lora');

@import "mixins";
@import "components/hero";
@import "components/button";


body {
  margin: 3em 0 0;
  padding: 0;
  font-family: 'Lora', serif;
  background: #9a1b36;
  overflow-x: hidden;
}

b {
  font-weight: bold;
}