@import url("https://fonts.googleapis.com/css?family=Lora");
.hero__contents, .hero__banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%; }
  .hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .hero__contents {
    z-index: 1; }
  .hero__banner {
    width: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .hero__header {
    padding: 5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; }
  .hero__title {
    font-size: 4em; }
  .hero__cta {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline; }

.button {
  border: 4px solid #000;
  padding: .5em;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #000000; }
  .button:hover {
    background: #000000;
    color: #fff; }
  .button[disabled] {
    border-color: grey;
    background: grey !important;
    color: #fff !important;
    cursor: not-allowed; }

body {
  margin: 3em 0 0;
  padding: 0;
  font-family: 'Lora', serif;
  background: #9a1b36;
  overflow-x: hidden; }

b {
  font-weight: bold; }
