.product {
  min-width: 240px;
  overflow: hidden;
  padding: 1em;
  background: #fff;
  box-sizing: border-box; }
  .product__name {
    padding: .5em; }
  .product__image {
    position: relative;
    height: 280px;
    overflow: hidden; }
    .product__image, .product__image img {
      width: 100%; }
  .product__ctas {
    display: flex;
    justify-content: space-around; }
