.product {
  min-width: 240px;
  overflow: hidden;
  padding: 1em;
  background: #fff;
  box-sizing: border-box;

  &__name {
    padding: .5em;
  }

  &__image {
    position: relative;
    height: 280px;
    overflow: hidden;
    &, img {
      width: 100%;
    }
  }

  &__ctas {
    display: flex;
    justify-content: space-around;
  }
}
