.delivery {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 80vh;
  width: 98vw;
  top: 3em;
  margin: 5em auto;
  background: #fff;
  box-shadow: 1px 3px 9px 0 #000;
  flex-direction: column; }
  .delivery__cta {
    position: absolute;
    left: 1em;
    top: 1em;
    color: #000;
    font-weight: bold; }
  .delivery__ctas {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em; }

.checkout-table {
  table-layout: fixed;
  width: 100%;
  text-align: center; }
  .checkout-table img {
    max-width: 100%; }

.delivery-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.58);
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  width: 20em;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em; }
  .form__row {
    margin-bottom: 1em; }
  .form__ctas {
    display: flex;
    justify-content: space-around; }
