.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 3em;
  width: 100%;
  background: #fff;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.43);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  z-index: 2; }

.cart {
  position: relative;
  width: 2em; }
  .cart__icon {
    width: 100%; }
  .cart__count {
    position: absolute;
    right: 85%;
    font-size: .8em;
    background: #9a1b36;
    padding: .3em;
    border-radius: 50%;
    color: #fff;
    height: 15px;
    min-width: 15px;
    text-align: center; }
